/* Google font */
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
/* First column */
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    border:3px solid lightpink;
    border-radius: 2%;
    width: 440px;
    height: 414px;
  }
  
  .text {
    width:582px;
    height:265px;
    margin: 40px;
    border: 3px solid lightpink;
    border-radius: 5px;
    padding:10px;
    text-align: justify;
    }
    .button{
            background-color: #E02C6D;
            border: none;
            color: white;
            border-radius: 13px;
            padding: 10px 24px;
            font-size: 16px;
            cursor: pointer;    
    }
    /* top players style */
.top-products{
  margin-bottom: 30px;
}
.section-title{
  position: relative;
  width: 262px;
  height: 70px;
  left: calc(50% - 262px/2);
  top: calc(50% - 70px/2 - 693px);
}
.container-products{
position: absolute;
width: 1047px;
height: 1662px;
left: 197px;
top: 925px;

}
.products{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  /* grid-template-columns:1fr 1fr 1fr; */
  grid-row-gap: 30px;
}
.product{
position: static;
width: 329px;
height: 550px;
left: calc(50% - 329px/2 - 358.5px);
top: calc(50% - 476px/2 - 390px);

background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
padding-left: 10px;
}
.product img{
  width: 300px;
  height: 256px;
}
.product-name{
  margin-left: 16px;
  font-size: 18px;
}
/* Bottom icon */
.icon {
  color: goldenrod;
  }
  .bottom-text{
    color: rgb(42, 122, 226);
  }
  /* Button */
.bottom-button{
  color: #E02C6D;
  border: none;
  border-radius: 13px;
}
/* Footer */
.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(138, 138, 229);
  color: white;
  text-align: center;
}
 
           
